{% extends 'base.html' %}
{% load static %}



{% block body-content %}
        <div class="tracking-[0.5em] uppercase text-center h-[20em] items-center  flex flex-col justify-center bg-no-repeat bg-cover mix-blend-hard-light" style="background-image: url('{% static 'images/output.gif'%}');">
              <div class="font-bold mb-9 uppercase">
                        <h4 class="text-2xl">xitcoin</h4> 
                        <h3 class="md:text-5xl">
                                introducing xitcash-token
                        </h3>
              </div>
              <div class="font-bold">
                       <p>
                                xitcash is an economically sustainable,  service-oriented ecosystem.
                       </p>
              </div>

        </div>
        <!-- the get started col -->

        <div class="flex md:justify-between flex-col md:flex-row gap-8 mx-6 my-9 h-auto  text-sm ">
                <div class="get-started">
                        <h1 class="text-2xl font-bold capitalize" >get started</h1>
                        <div class="my-4">
                                <p>
                                        Lorem ipsum dolor sit, amet consectetur ad incidunt natus deleniti cumque saepe iure.
                                </p>
                        </div>
                </div>


                <!-- the get started wallet coll -->
                <div class="text-center">
                        <div>
                                <i class="fas fa-wallet text-4xl txt"></i>
                                <h3 class="text-xl font-bold">Pick a Wallet</h3>
                        </div>
                        <div class="my-4">
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eum vel quos illo dolor dicta quam. Maxime eligendi cupiditate vitae quasi quo? Ratione atque error, natus nemo numquam cupiditate voluptate.
                                </p>

                                <a href="#" class="text-blue-600 pt-4 ">
                                        <span>learn more </span>
                                        <span>
                                                <i class="fas fas fa-arrow-right"></i>
                                        </span>
                                </a>
                        </div>
                </div>


                <!-- the get started etherum wallet -->
                <div class="text-center">
                        <div>
                                <i class="fas fa-wallet text-4xl txt"></i>
                                <h3 class="text-xl font-bold">mine Usdt</h3>
                        </div>
                        <div class="my-4">
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eum vel quos illo dolor dicta quam. Maxime eligendi cupiditate vitae quasi quo? Ratione atque error, natus nemo numquam cupiditate voluptate.
                                </p>

                                <a href="#" class="text-blue-600 pt-4 ">
                                        <span>learn more </span>
                                        <span>
                                                <i class="fas fas fa-arrow-right"></i>
                                        </span>
                                </a>
                        </div>
                </div>
                <!-- the third coll -->
                <div class="text-center">
                        <div>
                                <i class="fab fa-ethereum text-4xl  txt"></i>
                                <h3 class="text-xl font-bold">Get Eth</h3>
                        </div>
                        <div class="my-4">
                                <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, eum vel quos illo dolor dicta quam. Maxime eligendi cupiditate vitae quasi quo? Ratione atque error, natus nemo numquam cupiditate voluptate.
                                </p>

                                <a href="#" class="text-blue-600 pt-4 ">
                                        <span>learn more </span>
                                        <span>
                                                <i class="fas fas fa-arrow-right"></i>
                                        </span>
                                </a>
                        </div>
                </div>
        
        </div>

{% endblock body-content %}