{% extends 'base.html' %}
{% load static %}



{% block body-content %}
        <div class="tracking-[0.5em] uppercase text-center h-[27em] items-center  flex flex-col justify-center bg-no-repeat bg-cover mix-blend-hard-light" style="background-image: url('{% static 'images/output.gif'%}');">
              <div class="font-bold mb-9 uppercase">
                        <h4 class="text-2xl">xitcoin</h4> 
                        <h3 class="md:text-5xl">
                                introducing xitcash-token
                        </h3>
              </div>
              <div class="font-bold">
                       <p>
                                xitcash is an economically sustainable,  service-oriented ecosystem.
                       </p>
              </div>

        </div>
        <div class="  bg-black/30 text-white m-4 rounded-lg p-4 ">
                <div>
                        <div class="mb-9">
                                <h1 class="font-bold txt text-xl">what is xitcash?</h1>
                        </div>
                        <div class="ml-4">
                                <p>
                                        xitcash is a cryptocurrency that will be launched in January 2024, where the first genesis block was mined on 9th January 2021. It is a decentralized digital currency that is based on cryptography. As such, it can operate without the need of a central authority like a central bank or a company. It is unlike government-issued or fiat currencies such as US Dollars or Euro in which they are controlled by the country’s central bank. The decentralized nature allows it to operate on a peer-to-peer network whereby users are able to send funds to each other without going through intermediaries.
         
                                </p>
                        </div>

                </div>
                <div>
                        <i class="fa-solid fa-house fa-4xl"></i>
                </div>


        </div>


        <div>
                <video autoplay muted plays-inline loop>
                        <source src="videos/analysis.mp4" type="video/mp4">
                </video>
                <div>
                        <h3>hello</h3>
                </div>
                <div>
                        <p>
                                xit tokens can be traded on centralized crypto exchanges. The most popular exchange to buy and trade Bitcoin is Binance, where the most active trading pair BTC/USDT has a trading volume of $1,423,425,314.23 in the last 24 hours. Other popular options include xitcash.
                                What is the daily trading volume of Bitcoin (BTC)?

                        </p>
                </div>
        </div>

{% endblock body-content %}