<footer>
        <div class="flex justify-between m-9 p-4 gap-9">
                <div class="f_t w-3/4">
                        <div>
                                <h1>xitcash</h1>
                        </div>
                        <div>
                                <p>
                                        xitcash provides a fundamental analysis of the crypto market. In addition to tracking price, volume and market capitalisation, xitcash tracks community growth, open-source code development, major events and on-chain metrics.  
                                </p>
                        </div>

                </div>
                <div class="f_t">
                        <div>
                                <h3 class="text-lg  font-thin">Resources</h3>
                        </div>
                        <div>
                                <ul>
                                        <li>
                                                <a href="{% url 'core:home' %}">
                                                        Perpetuals
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        ethereum
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        support
                                                </a>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="f_t">
                        <div>
                                <h3 class="text-lg  font-thin">Donations</h3>
                        </div>
                        <div>
                                <ul>
                                        <li>
                                                <a href="#">
                                                      bitcoin 
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        ethereum
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                       support
                                                </a>
                                        </li>
                                </ul>
                        </div>

                </div>
                <div class="f_t">
                        <div>
                                <h3 class="text-lg  font-thin">Support</h3>
                        </div>
                        <div>
                                <ul>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                </ul>
                        </div>

                </div>
                <div class="f_t">
                        <div>
                                <h3 class="text-lg  font-thin">About xitcash</h3>
                        </div>
                        <div>
                                <ul>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                </ul>
                        </div>

                </div>
                <div class="f_t">
                        <div>
                                <h3 class="text-lg  font-thin">community</h3>
                        </div>
                        <div>
                                <ul>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                        <li>
                                                <a href="#">
                                                        hey
                                                </a>
                                        </li>
                                </ul>
                        </div>

                </div>
        </div>
</footer>