{% load static %}


{% block nav %}
<nav class=" z-50 bg-white/ h-14 backdrop-blur-sm capitalize text-xl flex p-4 gap-16 justify-between text-white w-full fixed bottom-0 md:top-0">
        <div class="hidden md:block ">
             <a href="{% url 'core:home' %}">
                <img src="{% static 'images/favicon_io/favicon-32x32.png'%}" alt="">
             </a>
        </div>

        <div>
                <ul class="flex gap-12">
                        <li class="h-nav">
                                <a href="{% url 'BitcoinChart:crypto_list' %}">
                                        <span class="icons">
                                                <i class=" fas fas fa-exchange-alt "></i>
                                        </span>
                                        <span class="hidden md:inline-block">
                                                market cap
                                        </span>
                                </a>
                        </li>
                        <li class="h-nav">
                                <a href="#">
                                        <span class="icons">
                                                <i class=" fas fas far fas fa-share-alt-square "></i>
                                        </span>
                                        <span class="hidden md:inline-block">
                                                features
                                        </span>
                                </a>
                        </li>
                        <li class="h-nav">
                                <a href="{% url 'core:dashboard' %} ">
                                        <span class="icons">
                                                <i class="fa-solid fa-user-fas fa-headset"></i>
                                        </span>
                                        <span class="hidden md:inline-block">
                                                dashboard
                                        </span>
                                </a>
                        </li>
                      {% if request.user.is_authenticated %}
                        <li class="h-nav">
                                        <a href="{% url 'core:logout' %}">
                                                <span class="icons">
                                                        <i class="fa-solid fa-sign-in-alt "></i>
                                                </span>
                                                <span class="hidden md:inline-block">
                                                        logout
                                                </span>
                                        </a>
                                </li>
                        
                      {% else %}
                        <li class="h-nav">
                                        <a href="{% url 'core:login' %}">
                                                <span class="icons">
                                                        <i class="fa-solid fa-sign-in-alt "></i>
                                                </span>
                                                <span class="hidden md:inline-block">
                                                        sign in
                                                </span>
                                        </a>
                        </li>
                        
                      {% endif %}
                      

                        <li class="h-nav">
                                <a href="{% url 'core:signup' %}" class="ba-gr md:px-4 md:py-2 md:rounded-xl">
                                        <span class="icons">
                                                <i class=" fa-fas fa-sign-out-alt "></i>
                                        </span>
                                        <span class="hidden md:inline-block">
                                                sign up 
                                        </span>
                                </a>
                        </li>
                </ul>
        </div>



</nav>
{% endblock nav %}