{% load static tailwind_tags %}
{% load fontawesome_6 %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}
				minX | {{user}}
			{% endblock title %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" href="{% static 'images/favicon_io/favicon.ico' %}" type="image/x-icon">
		{% tailwind_css %}
		{% load static %}
		{% fontawesome_6_static %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="mx-auto ">
			{% block nav %}
				{% include "regx/header.html" %}
				
			{% endblock nav %}
		</div>






		<div id="b-c" class=" w-full bg-blue-900 h-screen ">
			{% block coin-content %}
				
			{% endblock coin-content %}
		</div>


		<script defer src="{% static 'javascript/jquery.js' %}"></script>
		<script defer src="{% static 'javascript/js1.js' %}"></script>


	</body>
</html>
